.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media screen and (min-width: 680px) {
  .contactForm {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
  }

  .nameWrapper {
    grid-area: 1 / 1 / 2 / 2;
  }
  .emailWrapper {
    grid-area: 2 / 1 / 3 / 2;
  }
  .messageWrapper {
    grid-area: 1 / 2 / 3 / 3;
    justify-content: baseline;

    & > textarea {
      height: 100%;
    }
  }
  .submitBtn {
    grid-area: 3 / 1 / 4 / 3;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.label {
  margin-bottom: -0.5rem;
}

.input {
  padding: 0.5rem;
  border: 1px solid var(--primary-purple);
  box-shadow: 1px 1px 0px var(--primary-purple);
  background-color: transparent;
  color: var(--primary-white);
}

.submitBtn {
  padding: 0.75rem 1rem;
  border: none;
  background-color: var(--primary-green);
  color: var(--primary-black);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &--disabled {
    background-color: var(--primary-green-disabled);
    cursor: not-allowed;
  }
}

.error {
  background-color: var(--error-bg);
  color: var(--error-text);
  font-size: 0.875rem;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
}

.inputError {
  border: 1px solid var(--error-bg);
  box-shadow: 1px 1px 0px var(--error-bg);
}
