---
import LinkButton from "../components/LinkButton.astro";
---

<section id="hero">
  <h1>NEVER<br />SETTLE</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quia
    repudiandae ratione voluptatem necessitatibus, amet cum molestias reiciendis
    sit, facere nulla accusamus. At voluptate id voluptatem saepe sit explicabo
    dicta!
  </p>
  <section id="hero-social-media">
    <LinkButton
      href="http://github.com/wooczak"
      iconName="mdi:github"
      text="GitHub"
    />
    <LinkButton
      href="http://github.com/wooczak"
      iconName="mdi:github"
      text="GitHub"
    />
    <LinkButton
      href="http://github.com/wooczak"
      iconName="mdi:linkedin"
      text="LinkedIn"
    />
    <LinkButton
      href="http://github.com/wooczak"
      iconName="mdi:tray-download"
      text="Download CV"
    />
  </section>
</section>

<style>
  #hero {
    padding-block: 2rem;
    font-family: "Rethink Sans", sans-serif;
  }

  @keyframes gradient {
    0% {
      background-size: 100% 100%;
    }
    10% {
      background-size: 120% 120%;
    }
    20% {
      background-size: 180% 180%;
    }
    30% {
      background-size: 250% 250%;
    }
    40% {
      background-size: 220% 220%;
    }
    50% {
      background-size: 300% 300%;
    }
    60% {
      background-size: 270% 270%;
    }
    70% {
      background-size: 200% 200%;
    }
    80% {
      background-size: 230% 230%;
    }
    90% {
      background-size: 150% 150%;
    }
    100% {
      background-size: 100% 100%;
    }
  }

  h1 {
    font-weight: 900;
    font-size: 6em;
    word-break: break-all;
    font-family: "Cabinet Grotesk", sans-serif;
    line-height: 0.85em;
    background-image: rgb(41, 62, 249);
    background-image: rgb(41, 62, 249);
    background-image: -moz-var(--main-gradient);
    background-image: -webkit-var(--main-gradient);
    background-image: var(--main-gradient);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#293ef9",endColorstr="#e1f967",GradientType=1);
    background-clip: text;
    background-size: 100%;
    animation: gradient 5s ease-in-out infinite reverse;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  #hero-social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
</style>
