---
import SectionHeading from "../components/SectionHeading.astro";
---

<section id="latest-blog-posts">
  <SectionHeading title="Latest blog posts" />
  <div id="latest-blog-posts-list">
    <slot />
  </div>
  <button class="action-btn">Show all posts</button>
</section>

<style>
  #latest-blog-posts {
    font-family: "Rethink Sans", sans-serif;
    color: var(--primary-white);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media (min-width: 680px) {
    #latest-blog-posts-list {
      display: flex;
      gap: 1rem;
    }
  }
</style>
