---
import { Icon } from "astro-icon/components";
import "./Navigation.scss";
---

<nav>
  <p class="title">Kacper<span>Łuczak</span></p>
  <div class="nav-controls">
    <div class="theme-toggle-wrapper">
      <Icon name="mdi:white-balance-sunny" />
      <div class="theme-toggle">
      <span></span>
      </div>
      <Icon name="mdi:moon-waning-crescent" />
    </div>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <ul id="mobile-nav">
    <li><div class="you-are-here"></div>Home</li>
    <li><div class="you-are-here"></div><a href="/blog">Blog</a></li>
    <li><div class="you-are-here"></div>About me</li>
    <li><div class="you-are-here"></div>Contact</li>
    <li>
      <div id="lang-switcher">
        <p id="lang-en">EN</p>
        <p>/</p>
        <p id="lang-pl">PL</p>
      </div>
    </li>
  </ul>
    <ul id="desktop-nav">
    <li><div class="you-are-here"></div>Home</li>
    <li><div class="you-are-here"></div><a href="/blog">Blog</a></li>
    <li><div class="you-are-here"></div>About me</li>
    <li><div class="you-are-here"></div>Contact</li>
    <li>
      <div id="lang-switcher">
        <p id="lang-en">EN</p>
        <p>/</p>
        <p id="lang-pl">PL</p>
      </div>
    </li>
  </ul>
</nav>

<script>
  import { Route } from "../lib/constants";

  const hamburger = document.querySelector(".hamburger");
  const mobileNav = document.querySelector("#mobile-nav");
  const youAreHere = document.querySelectorAll(".you-are-here");

  if (!hamburger || !mobileNav) {
    throw new Error("Missing hamburger or mobileNav element");
  }

  hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("active");
    mobileNav.classList.toggle("active");

    if (youAreHere) {
      switch (window.location.pathname) {
        case Route.HOME:
          youAreHere[0].classList.add("active");
          youAreHere[0].textContent = "You are here";
          break;
        case Route.BLOG:
          youAreHere[1].classList.add("active");
          youAreHere[1].textContent = "You are here";
          break;
        default:
          break;
      }
    }
  });
</script>
