---
import "./Navigation.scss";
---

<nav>
  <p class="title">Kacper<span>Łuczak</span></p>
  <div class="theme-toggle">
    <span></span>
  </div>
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul id="mobile-nav">
    <li><div class="you-are-here"></div>Home</li>
    <li><div class="you-are-here"></div>Blog</li>
    <li><div class="you-are-here"></div>About me</li>
    <li><div class="you-are-here"></div>Contact</li>
    <li>
      <div id="lang-switcher">
        <p id="lang-en">EN</p>
        <p>/</p>
        <p id="lang-pl">PL</p>
      </div>
    </li>
  </ul>
</nav>

<script>
  const hamburger = document.querySelector(".hamburger");
  const mobileNav = document.querySelector("#mobile-nav");
  const menuItems = document.querySelectorAll("#mobile-nav li");

  if (!hamburger || !mobileNav) return;

  hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("active");
    mobileNav.classList.toggle("active");

    if (!menuItems) return;

    menuItems.forEach((item) => {
      const youAreHere = item.querySelector(".you-are-here");

      
    })
  });
</script>
