<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --primary-black: #181818;
    --primary-white: #fff;
    --primary-purple: #ba7afe;
    --primary-green: #aee67f;
    --primary-green-disabled: #aee67f80;
    --error-bg: #ff4d4f;
    --error-text: #fff;
    --main-gradient: radial-gradient(
      circle,
      rgba(41, 62, 249, 1) 6%,
      rgba(207, 167, 253, 1) 45%,
      rgba(81, 238, 221, 1) 75%,
      rgba(225, 249, 103, 1) 100%
    );
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Extrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  body {
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 1rem;
    font-family: "Cabinet Grotesk", sans-serif;
  }

  a {
    text-decoration: none;
    color: var(--primary-white);
    font-family: inherit;
  }

  section {
    margin-block: 2rem;
  }
  
</style>
