---
import Navigation from "../sections/Navigation.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --primary-black: #181818;
    --primary-white: #fff;
    --primary-purple: #ba7afe;
    --primary-green: #aee67f;
    --primary-green-disabled: #aee67f80;
    --error-bg: #ff4d4f;
    --error-text: #fff;
    --main-gradient: radial-gradient(
      circle,
      rgba(41, 62, 249, 1) 6%,
      rgba(207, 167, 253, 1) 45%,
      rgba(81, 238, 221, 1) 75%,
      rgba(225, 249, 103, 1) 100%
    );
    --media-tablet: 680px;
    --media-desktop-small: 940px;
    --media-desktop-large: 1280px;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Extrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Cabinet Grotesk";
    src: url("/fonts/CabinetGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Rethink Sans";
    src: url("/fonts/RethinkSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  body {
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 1rem;
    font-family: "Cabinet Grotesk", sans-serif;
    max-width: var(--media-tablet);
    margin-inline: auto;
  }

  a {
    text-decoration: none;
    color: var(--primary-white);
    font-family: inherit;
  }

  h1 {
    font-size: 3rem;
  }

  .action-btn {
    background-image: var(--primary-green);
    color: var(--primary-black);
    font-size: 1rem;
    font-weight: 600;
    padding-block: 1rem;
    margin-top: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &--disabled {
      background-image: var(--primary-green-disabled);
      cursor: not-allowed;
    }
  }

  .astro-code {
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  section {
    margin-block: 2rem;
  }
</style>
